name: Release
on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-release:
    name: Build Release
    runs-on: ubuntu-24.04
    env:
      ASSET_REPO: ${{ secrets.ASSET_REPO }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Checkout Private Repository
        if: env.ASSET_REPO != ''
        uses: actions/checkout@v4
        with:
          repository: ${{ env.ASSET_REPO }}
          token: ${{ secrets.ASSET_REPO_TOKEN }}
          path: ./private

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: |
            ./thirdparty/vcpkg/downloads
            ./thirdparty/vcpkg/packages
          key: vcpkg-android-${{ hashFiles('vcpkg.json') }}
          restore-keys: |
              vcpkg-android-

      - name: Bootstrap vcpkg
        run: |
          ./thirdparty/vcpkg/bootstrap-vcpkg.sh

      - name: Prepare Project
        if: env.ASSET_REPO != ''
        run: |
          mkdir -p ./UnleashedRecompLib/private
          if [ -d "./private" ] && [ "$(ls -A ./private)" ]; then
            cp -r ./private/* ./UnleashedRecompLib/private/
          else
            echo "Private directory is empty or does not exist."
          fi

      - name: Build Release APK
        working-directory: ./android
        run: ./gradlew assembleRelease

      - name: Upload Release Asset
        if: github.event_name == 'release'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.event.release.tag_name }} android/app/build/outputs/apk/release/app-release.apk --clobber

      - name: Upload Artifact
        if: github.event_name != 'release'
        uses: actions/upload-artifact@v4
        with:
          name: UnleashedRecomp-Android-Release
          path: android/app/build/outputs/apk/release/app-release.apk
