name: validate
on:
  workflow_call:
    secrets:
      ASSET_REPO:
        required: false
      ASSET_REPO_TOKEN:
        required: false
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Checkout Private Repository
        if: ${{ secrets.ASSET_REPO != '' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.ASSET_REPO }}
          token: ${{ secrets.ASSET_REPO_TOKEN }}
          path: ./private

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: |
            ./thirdparty/vcpkg/downloads
            ./thirdparty/vcpkg/packages
          key: vcpkg-android-${{ hashFiles('vcpkg.json') }}
          restore-keys: |
              vcpkg-android-

      - name: Bootstrap vcpkg
        run: |
          ./thirdparty/vcpkg/bootstrap-vcpkg.sh

      - name: Prepare Project
        if: ${{ secrets.ASSET_REPO != '' }}
        run: cp ./private/* ./UnleashedRecompLib/private

      - name: Build APK
        working-directory: ./android
        run: ./gradlew assembleDebug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UnleashedRecomp-Android-Debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
