name: validate-internal
on:
  push:
    branches: ['**']
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
jobs:
  build:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.repository == github.event.pull_request.head.repo.full_name
    uses: ./.github/workflows/validate.yml
    secrets: inherit
