name: validate
on:
  workflow_call:
    secrets:
      ASSET_REPO:
        required: false
      ASSET_REPO_TOKEN:
        required: false
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-24.04
    env:
      ASSET_REPO: ${{ secrets.ASSET_REPO }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Checkout Private Repository
        if: env.ASSET_REPO != ''
        uses: actions/checkout@v4
        with:
          repository: ${{ env.ASSET_REPO }}
          token: ${{ secrets.ASSET_REPO_TOKEN }}
          path: ./private

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Android NDK
        run: yes | sdkmanager "ndk;25.2.9519653"

      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: |
            ./thirdparty/vcpkg/downloads
            ./thirdparty/vcpkg/packages
          key: vcpkg-android-${{ hashFiles('vcpkg.json') }}
          restore-keys: |
              vcpkg-android-

      - name: Bootstrap vcpkg
        run: |
          ./thirdparty/vcpkg/bootstrap-vcpkg.sh

      - name: Prepare Project
        if: env.ASSET_REPO != ''
        run: |
          mkdir -p ./UnleashedRecompLib/private
          if [ -d "./private" ] && [ "$(ls -A ./private)" ]; then
            cp -r ./private/* ./UnleashedRecompLib/private/
          else
            echo "Private directory is empty or does not exist."
          fi

      - name: Build Debug APK
        working-directory: ./android
        run: ./gradlew assembleDebug

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UnleashedRecomp-Android-Debug
          path: android/app/build/outputs/apk/debug/app-debug.apk

      - name: Build Release APK
        working-directory: ./android
        run: ./gradlew assembleRelease

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UnleashedRecomp-Android-Release
          path: android/app/build/outputs/apk/release/app-release.apk
